vrrp_instance VI_1 {
        state {{ 'MASTER' if inventory_hostname=='keepalived_1' else 'BACKUP'}}
        interface eth1
        virtual_router_id 51
        priority {{ 255 if inventory_hostname=='keepalived_1' else 254 }}
        advert_int 1
        authentication {
            auth_type PASS
            auth_pass reallydoesntmatter
        }
        virtual_ipaddress {
            192.168.33.13/24
        }
}